<footer class="background-color-gray-two padding-top-3 color-white font-three font-size-17">
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 margin-bottom-3">
            <div class="col-xs-4 col-sm-4 text-center">
                <a title="¡Ubicalo en el mapa!" target="_blank" rel="noreferrer" href="https://www.google.es/maps/place/Cl.+4b+%2335a-11,+Cali,+Valle+del+Cauca,+Colombia/@3.4324957,-76.5462486,18z/data=!3m1!4b1!4m8!1m2!2m1!1sCll+4b+%2335a-11+cali!3m4!1s0x8e30a69ce61da669:0xb3a6f2594d419e2c!8m2!3d3.432493!4d-76.5451516">
                    <i class="mdi mdi-map-marker mdi-24px"></i>
                    <p> Cll 4b #35a-11 </p>
                </a> 
            </div>
            <div class="col-xs-4 col-sm-4 text-center">
                <a title="¡Ubicalo en el mapa!" target="_blank" rel="noreferrer" href="https://www.google.es/maps/place/Cl.+4b+%2335a-11,+Cali,+Valle+del+Cauca,+Colombia/@3.4324957,-76.5462486,18z/data=!3m1!4b1!4m8!1m2!2m1!1sCll+4b+%2335a-11+cali!3m4!1s0x8e30a69ce61da669:0xb3a6f2594d419e2c!8m2!3d3.432493!4d-76.5451516">
                    <i class="mdi mdi-map mdi-24px"></i>
                    <p> Cali, Colombia </p>
                </a> 
            </div>
            <div class="col-xs-4 col-sm-4 text-center">
                <a title="@grupopaar" target="_blank" rel="noreferrer" href="https://www.facebook.com/grupopaarsas"><i class="mdi mdi-facebook mdi-24px"></i></a> 
                <a title="@grupopaar" target="_blank" rel="noreferrer" href="https://www.instagram.com/grupopaar/"><i class="mdi mdi-instagram mdi-24px"></i></a> 
                <p>@grupopaar</p>
            </div>
        </div>
        <div class="col-xs-12 footer-two text-center background-color-gray-two font-size-13 spacing font-one">
            <span>GRUPO PAAR SAS 2017</span> 
        </div>
    </div>
    
</footer>