a:hover {
    color: white;
    opacity: 0.6; } 

footer a {
    color: white;
    font-family: 'opensanslight';
    font-weight: 300;
    text-decoration: none;
}

.footer-two {
    border-top: 1px solid #282727;
    padding-top: 2rem;
    padding-bottom: 2rem; }

li {
    list-style: none; 
    display: inline-block; 
    margin-left: 2rem;
    margin-right: 2rem; }



