.bars_xs {
				text-align: right;	
				z-index: 8;} 

button {
    background-color: transparent;
    border: none;
    color: #343434 !important;
		margin-top: 2rem;
    margin-right: 3rem; }

button:focus {
    outline: none;
    border: none; }

img {
    width: 15%; }

li {
    list-style: none; 
    margin-top: 3rem;
    margin-left: 4rem;
    margin-bottom: 3rem; 
    letter-spacing: 0.3rem; }

.logo-img {
    right: 2rem;
    z-index: -1; }

.logo_xs {
	  top: 0;
    position: absolute;
}

ul a {
    color: #343434;
    text-decoration: none;
}

ul a:hover,
ul a:focus  {
    color: rgb(0, 177, 174);
    border: none;
    outline: none; }

@media (max-width: 767px) {
	img {
    width: 20%; }
   ul {
        margin-right: 3rem; }
	.bars_xs {
			text-align: right;
			position: absolute;
    right: 0rem;	}
	.bars_xs button {
				margin-top: 1rem !important;
    		margin-right: 1.5rem !important;	}
	nav {
		overflow: initial; 	}
}

@media (max-width: 365px) {
	img {
    width: 26%; }
}