<ng-sidebar-container>
    <ng-sidebar
        [(opened)]="_opened"
        [mode]="_MODES[_modeNum]"
        [keyClose]="_keyClose"
        [position]="_POSITIONS[_positionNum]"
        [dockedSize]="'50px'"
        [closeOnClickOutside]="_closeOnClickOutside"
        [showBackdrop]="_showBackdrop"
        [animate]="_animate"
        [trapFocus]="_trapFocus"
        [autoFocus]="_autoFocus"
        [sidebarClass]="'demo-sidebar'"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"
        (onClosed)="_onClosed()"
        (onAnimationStart)="_onAnimationStart($event)"
        (onAnimationDone)="_onAnimationDone($event)">

        <button class="close" (click)="_toggleOpened()">
            <i class="mdi mdi-close mdi-36px padding-bottom-1"></i>
        </button>
        
        <ul class="nav navbar-nav navbar-right margin-top-8 text-right">
            <a routerLink="/" pageScroll [pageScrollDuration]="100" href="#paar"><li> Inicio </li></a>
            <a routerLink="/{{menu.slug}}" pageScroll [pageScrollDuration]="100" href="#paar" *ngFor="let menu of menus" [ngClass]="menu.slug == 'noticias' ? colorButton : null"><li> {{menu.label}} </li></a>
        </ul>
    </ng-sidebar>

    <nav class="overflow-hidden position-relative navbar main-header">
        <div class="bars_xs navbar-right">
            <button (click)="_toggleOpened()" class="demo-header__toggle"><i class="mdi mdi-menu mdi-36px padding-bottom-1"></i></button>
        </div>
        <div class="logo_xs navbar-left">
            <a routerLink="/" pageScroll [pageScrollDuration]="100" href="#paar" class=""> <img src="./assets/images/logo/{{logoType}}.png" class="img-responsive padding-top-1 padding-left-1"> </a>
        </div>
    </nav>
    
</ng-sidebar-container>