<a on-mouseover="toggle_class_arrow('one')" (mouseleave)="toggle_class_plus('one')" class="color-gray-two position-relative {{classCol}} padding-top-1 padding-bottom-1" routerLink="{{url}}" pageScroll [pageScrollDuration]="300" href="#paar">
  <div class="button-icon text-center background-color-gray-three">
    <div class="button-icon-content">
      <div class="button-icon-content-inner">
        <h3 class="text-left color-gray-two font-four text-uppercase spacing-2 font-size-17"> {{title}} </h3>
				<span class="icon position-absolute">
					<div class="material-icon" [ngClass]="my_Class1">
						<span class="first {{colorIcon}}"></span>
						<span class="second {{colorIcon}}"></span>
						<span class="third {{colorIcon}}"></span>
					</div>
				</span>
      </div>
    </div>
  </div>
</a>
