.button-icon {
    height: 150px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    background-size: cover;
    background-position: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.button-icon:hover {
     opacity: 0.8; }

.button-icon-content {
    max-width: 930px;

    padding: 0 2rem; }

.button-icon-content-inner{
    float: left;
    display: block;
    margin-right: 4%;
    margin-left: 4%;
    width: 90%;
    padding-right: 2rem; }

span.icon {
    right: 3rem;
    top: 4.5rem; }

h3 {
    width: 85%; }

@media (max-width: 767px) {
    h3 {
        font-size: 1.5rem !important; }
}