a:hover {
	opacity: 1; }

article {
	cursor: pointer;
	padding-top: 2rem; }

article h3 {
	padding: 1rem 2rem;
	width: 90%; }

.article_icon {
	top: 0rem;
	right: 2rem;
	z-index: 5; }

.article_img {
	height: 30rem; }

.article_img img {
	position: absolute;
	width: 100%; }

.article_img img:hover {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2); }

.article_text {
		bottom: 0rem;
		height: 30%;
		position: absolute;
		width: 100%;	}

@media (max-width: 991px) {
	article h3 {
    width: 80%; }
	.article_img img {
		width: 150%; }
	.article_text {
		height: 35%; }
}

@media (max-width: 767px) {
	article h3 {
		font-size: 1.7rem; 
		padding-top: 1rem; }
	.article_img {
		height: 300px; }
	.article_img img {
		width: 200%; }
	.article_text {
		bottom: 0rem;
		position: absolute;
		width: 100%;	}
}