<main-header logoType="both" logoType="white" logoTypeSecond="white" backgroundColorMenu="violet_menu" colorMenu="color-white" colorHoverMenu="color-gray-two-hover" colorMenuB="color-white" colorHoverMenuB="color-blue-hover" textFont="font-two" sizeFont="18" colorButton="white-button"></main-header>

<!--MAIN BANNER-->
<!--BANNER INFORMATIVO-->
<div ng2-parallax class="block-info text-center">
  <p class="col-xs-12 col-sm-6 col-sm-offset-3 color-white font-three font-size-3"> 
    ¿Ya te enteraste de los últimos cambios en los plazos de reporte de medios magnéticos? <br>
    <button class="blue-button margin-top-3 font-size-18 font-two spacing text-uppercase padding-right-3 padding-left-3 padding-top-1 padding-bottom-1">¡Conócelos!</button> 
  </p>
  <div class="transparent_dark"></div>
  <img src="../assets/images/home/08.jpg" />
</div>

<section class="container padding-bottom-10 padding-top-10">
	<article on-mouseover="toggle_class_on(item.id)" (mouseleave)="toggle_class_off(item.id)" *ngFor="let item of bricks" class="col-xs-12 col-sm-6 overflow-hidden">
		<a href="" class="color-gray-two color-violet-hover">
		<div class="article_img overflow-hidden">
			<img class="position-absolute" [src]="item.url_img" [alt]="item.title">
		</div>
		<div class="article_text position-relative background-color-gray-three">
			<h3 class="font-three font-size-2">{{item.title}}</h3>
			<span class="article_icon position-absolute margin-top-2" [ngClass]="item.class">
				<i class="color-violet margin-right-1 mdi mdi-open-in-new mdi-36px"></i>
			</span>
		</div></a>
	</article>
</section>


