a {
    cursor: pointer; }

article {
    height: 250px;
    max-height: 400px;
    padding: 1rem 1rem; }

@media (max-width: 768px) {
   article {
    padding: 1rem 1rem; }
    h4 {
        font-size: 1.3rem; }
}

button {
    background-color: transparent;
    outline: none;
    border: none; }

button:hover {
    color: rgb(0, 177, 174); }

@media (min-width: 768px) {
   a {
    padding: 1rem; }
   button {
    padding: 1rem; }
}

.category-icon {
    top: 0rem;
    position: absolute;
    left: 2rem;
}

.container-article {
    background-position: center !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    height: 100%;
    width: 100%; }

.container-info {
    bottom: 0rem;
    padding-bottom: 1rem;
    right: 0rem;
    z-index: 3;
    width: 100%; }

h4 {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem; }

.modal-content {
    box-shadow: 0 2px 4px rgba(0,0,0,0.3) !important;
    border: none;
    border-radius: 0px; }

.modal-header {
    border-bottom: 1px solid rgb(0, 177, 174);
}

.modal-dialog button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem; }

.modal-footer {
    border-top: 1px solid rgb(0, 177, 174);
    text-align: center; }

ul {
    list-style: none;
    padding-left: 0rem;
}
li {
    display: inline-block;
}
