<article  class="col-xs-6 col-sm-4 col-md-3 position-relative overflow-hidden font-three" *ngFor="let item of items">
    <div class="container-article col-xs-12 " [style.background]="'url(' + item.img_url + ')'">
		<div class="container-info position-absolute text-right padding-right-2 background-color-gray-three">
				<h4 class="font-two text-uppercase spacing color-gray-two">
					<!--<i class="color-gray-two margin-right-1 mdi mdi-shopping mdi-18px padding-bottom-1"></i>-->
				{{item.name}}</h4>
				<a title="Mira una pequeña descripción" class="color-gray color-blue-hover" (click)="lgModal.show()"><i class="mdi mdi-eye-outline mdi-24px padding-bottom-1"></i></a>
				<a title="Mira un video de la empresa" class="color-gray color-blue-hover"><i class="mdi mdi-video mdi-24px padding-bottom-1"></i></a> 
		</div>
	</div>
		
    <!--Large modal--> 
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
					<div class="modal-header">
							<h4 class="modal-title text-center font-two text-uppercase spacing">{{item.name}}</h4>
							<button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
							<i class="mdi mdi-close mdi-36px padding-bottom-1"></i>
							</button>
					</div>
					<div class="modal-body text-center">
						<img src="../assets/images/clients/05.jpg" alt=""> 
					</div>
					<div class="modal-footer">
						<p class="font-three"> {{item.desc}} </p> 
						<ul>
							<a class="color-gray-two color-blue-hover" *ngIf="item.web" href="{{item.web}}" target="_blank"><li><i class="mdi mdi-web mdi-18px padding-bottom-1"></i></li></a>
							<a class="color-gray-two color-blue-hover" *ngIf="item.facebook" href="{{item.facebook}}" target="_blank"><li><i class="mdi mdi-facebook mdi-18px padding-bottom-1"></i></li></a>
							<a class="color-gray-two color-blue-hover" *ngIf="item.instagram" href="{{item.instagram}}" target="_blank"><li><i class="mdi mdi-instagram mdi-18px padding-bottom-1"></i></li></a>
							<a class="color-gray-two color-blue-hover" *ngIf="item.linkedin" href="{{item.linkedin}}" target="_blank"><li><i class="mdi mdi-linkedin mdi-18px padding-bottom-1"></i></li></a>
							<a class="color-gray-two color-blue-hover" *ngIf="item.youtube" href="{{item.youtube}}" target="_blank"><li><i class="mdi mdi-youtube mdi-18px padding-bottom-1"></i></li></a>
						</ul> 
					</div>
        </div>
    </div>
    </div>
</article>


