<!--BANNER INFORMATIVO-->
<div class="position-relative">
  <div class="block-parallax gradient_black2 text-center" style="background-image: url(../assets/images/tips/02.jpg)">
    <div class="block-parallax-content">
      <div class="block-parallax-content-inner">
        <p class="col-xs-12 col-sm-12 color-white font-three font-size-2 padding-top-5">
          <span class="font-cheese spacing font-size-4">¡Hagamos algo increible juntos! </span> <br>
          ¿Necesitas una asesoría contable?, ¿incremetar tus ventas?, ¿conseguir nuevos clientes? <br>
          <a routerLink="/contacto" pageScroll [pageScrollDuration]="300" href="#paar" class="blue-button margin-top-3 font-size-18 font-four text-uppercase padding-right-3 padding-left-3 padding-top-1 padding-bottom-1"> Hablemos</a>
        </p> 
      </div>
    </div>
  </div>
</div>

