<main-header logoType="both" logoType="original" logoTypeSecond="original" backgroundColorMenu="white_menu" colorMenu="color-gray-two" colorHoverMenu="color-blue-hover" colorMenuB="color-gray-two" colorHoverMenuB="color-blue-hover" textFont="font-three" sizeFont="18" colorButton="violet-button"></main-header>

<!--MAIN BANNER-->
<section class="module_one overflow-hidden position-relative font-three text-center color-gray-two" style="background-image: url(../assets/images/services/01.jpg)">
  <div class="container">
    <p class="font-size-19 col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 margin-top-8"> Los aliados en <span class="font-two text-uppercase spacing"> Grupo Paar </span>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique magna eget arcu posuere vulputate. </p>
  </div>
  <!--<img src="../assets/images/services/01.jpg" />-->
</section>

<section class=" container margin-top-5 margin-bottom-5">
    <items-client [items]="items"></items-client>
</section>

<section class="module_one overflow-hidden position-relative background-color-gray-three" style="">
  <div class="container">
    <div class="">
      <h4 class="font-size-6 font-three color-white text-uppercase spacing">
      <span class="font-two">Cliente especial</span>
      </h4>
    </div>
  </div>
  <!--<img src="../assets/images/services/01.jpg" />-->
</section>
