a{
    text-decoration: none; }

ul {
    list-style: none; }

.banner-secondary {
    position: relative;
    z-index: 1;
    z-index: 3; }

.banner-secondary:before {
    top: 0;
    -webkit-transform: skewY(-2deg);
     transform: skewY(-2deg); 
     -webkit-transform-origin: 0 0; 
    transform-origin: 0 0; }

.banner-secondary:before {
    -webkit-backface-visibility: hidden;
    background: inherit;
    content: '';
    display: block;
    height: 102%;
    left: 0;
    outline: 1px solid transparent;
    position: absolute;
    right: 0;
    z-index: -1; }

.info-container {
    position: relative;
    z-index: 2; }

.info-container:after {
    bottom: 0;
    -webkit-transform: skewY(-2eg);
    transform: skewY(-2deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

.info-container:after {
    -webkit-backface-visibility: hidden;
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    outline: 1px solid transparent;
    position: absolute;
    right: 0;
    z-index: -1; } 

.info-container-second {
    position: relative;
    z-index: 3; }

.info-container-second:before {
    top: 0;
    -webkit-transform: skewY(2deg);
    transform: skewY(2deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0; }

.info-container-second:before {
    -webkit-backface-visibility: hidden;
    background: inherit;
    content: '';
    display: block;
    height: 115%;
    left: 0;
    outline: 1px solid transparent;
    position: absolute;
    right: 0;
    z-index: -1; }

@media (max-width: 768px) {
   .info-container-second:before {
        height: 103%; }
}

.info-container-second:after {
    top: 0;
    -webkit-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0; }

.info-container-second:after {
    -webkit-backface-visibility: hidden;
    background: inherit;
    content: '';
    display: block;
    height: 85%;
    left: 0;
    outline: 1px solid transparent;
    position: absolute;
    right: 0;
    z-index: -1; }