<main-header logoType="both" logoType="white" logoTypeSecond="original" backgroundColorMenu="white_menu" colorMenu="color-gray" colorHoverMenu="color-blue-hover" colorMenuB="color-white" colorHoverMenuB="color-gray-two-hover" textFont="font-three" sizeFont="18" colorButton="violet-button"></main-header>

<!-- MAIN BANNER -->
<div class="position-relative">
  <div class="block-parallax gradient_primary text-center" style="background-image: url(../assets/images/home/01.jpeg)">
    <div class="block-parallax-content">
      <div class="block-parallax-content-inner padding-top-7-xs">
        <h2 class="color-white font-one text-uppercase spacing">En  <span class="font-two color-violet"> grupo PAAR </span> buscamos trascender y queremos hacerlo junto a ti</h2>
        <p class="font-size-2 color-white"> Permítenos asesorarte y ayudarte a fortalecer tu empresa </p> 
      </div>
    </div>
  </div>
  <section class="banner-secondary background-color-white text-center">
    <div class="container padding-bottom-4 padding-top-4">
      <p class="font-three color-gray-two font-size-2 padding-bottom-1 padding-top-1">  </p>
    </div>
  </section>
</div>

<!--SERVICES 1-->
<section class="info-container background-color-white padding-bottom-4 font-size-2">
  <div class="container">
    <div class="col-xs-12">
      <article class="col-xs-12 col-sm-9">
        <p> Tenemos claro la importancia de la contabilidad en la administración de una empresa,
        ya que esta no sólo te permite conocer el pasado y el presente de una empresa, sino que
        además te permite saber que viene para el futuro de tu empresa. </p>
        <p> Es por esto que te ofrecemos tener una asesoría en: </p>
      </article>
    </div>
    <div class="info-container col-xs-12 padding-top-3">
      <buttonIcon colorIcon="background-color-blue" classCol="col-xs-12 col-md-4" url="/servicios/consultoria-contable" title="Consultoría Contable y Financiera"></buttonIcon>
      <buttonIcon colorIcon="background-color-blue" classCol="col-xs-12 col-md-4" url="/servicios/sistemas-de-calidad" title="Sistemas de gestión de calidad y control"></buttonIcon>
    </div>
  </div>
</section>

<!--BANNER INFORMATIVO-->
<div class="position-relative">
  <div class="block-parallax gradient_black block-tips tips-height text-center" style="background-image: url(../assets/images/tips/01.jpg)" >
    <div class="block-parallax-content">
      <div class="block-parallax-content-inner">
        <p class="col-xs-12 col-sm-10 col-sm-offset-1 color-white font-three font-size-3">
          <span class="font-cheese text-uppercase spacing font-size-5">Estudios</span> <br>
          <span class="font-coolvetica spacing">Revelan que el <span class="font-cheese text-uppercase spacing font-size-4">74</span>% de las <span class="font-cheese text-uppercase spacing font-size-5">PYMES</span></span> <br>  
          <span class="white-transparent font-coolvetica spacing">hacen uso de alguna herramienta</span><span class="font-cheese"></span> <br> 
          <span class="font-cheese text-uppercase spacing font-size-3">que se conecta a</span> <br> 
          <span class="font-cheese text-uppercase spacing font-size-4">internet</span>
        </p>
      </div>
    </div>
  </div>
</div>

<!--SERVICES 2-->
<section class="info-container-second background-color-white padding-top-5 padding-bottom-3 font-size-2">
  <div class="container">
    <div class="col-xs-12">
      <article on-mouseover='toggle_class_arrow()' class="col-xs-12 col-sm-9 col-sm-offset-3 text-right">
        <p> Vivimos en la era digital donde el mundo ya no es offline y tradicional, 
          la gran mayoría de consumidores se encuentran en la web. Posicionarse en el mundo digital
          es la mejor manera de estar en contacto directo con el público, establecer relaciones y
          sinergías que hablen de tu marca sin estar presente </p>
        <p> Es por esto que te ofrecemos tener una asesoría en: </p>
      </article>
    </div>
    <div class="col-xs-12 padding-top-3">
      <buttonIcon colorIcon="background-color-violet" classCol="col-xs-12 col-md-4 col-md-offset-4" url="/servicios/desarrollo-web" title="Desarrollo web"></buttonIcon>
      <buttonIcon colorIcon="background-color-violet" classCol="col-xs-12 col-md-4" url="/servicios/marketing-digital" title="Marketing digital"></buttonIcon>
    </div>
  </div>
</section>

<!--FORM COMPONENT-->
<be-in-touch></be-in-touch>