<header> 
    <!--Initial menu-->
    <nav id="paar" class="nav_initial font-three font-size-{{sizeFont}} navbar navbar-default main-header position-{{position}}">
        <div class="visible-md visible-lg">
            <a routerLink="/" pageScroll [pageScrollDuration]="300" href="#paar" class="logo-img margin-left-4 position-absolute margin-top-1"> <img src="./assets/images/logo/{{logoType}}.png" [alt]="logo.label" class="img-responsive"> </a> 
            <ul class="nav navbar-nav navbar-right margin-top">
                <a routerLink="/{{menu.slug}}" routerLinkActive="menu.slug !== 'blog' ? {{colorHoverMenu}}-active : null " pageScroll [pageScrollDuration]="300" href="#paar" class="{{colorMenuB}} {{colorHoverMenuB}}" *ngFor="let menu of menus" [ngClass]="menu.slug == 'blog' ? colorButton : null"><li> {{menu.label}} </li></a>
            </ul>
        </div>

        <!-- Responsive menu -->
        <side-menu [menus]="menus" logoType="{{logoType}}" class="visible-xs visible-sm"></side-menu>
    </nav> 
    <!--Fixed menu-->
    <nav [ngClass]= "{'nav-down': isScrolled}" class="nav_fixed {{backgroundColorMenu}} {{textFont}} font-size-{{sizeFont}} navbar navbar-default navbar-fixed-top main-header">
        <div class="visible-md visible-lg">
            <a routerLink="/" pageScroll [pageScrollDuration]="300" href="#paar" class="logo-img margin-left-4 position-absolute margin-top-1"> <img src="./assets/images/logo/{{logoTypeSecond}}.png" [alt]="logo.label" class="img-responsive"> </a> 
            <ul class="nav navbar-nav navbar-right margin-top">
                <a routerLink="/{{menu.slug}}" routerLinkActive="menu.slug !== 'blog' ? {{colorHoverMenu}}-active : null " pageScroll [pageScrollDuration]="300" [pageScrollOffset]="1000" href="#paar" class="{{colorMenu}} {{colorHoverMenu}}" *ngFor="let menu of menus" [ngClass]="menu.slug == 'blog' ? colorButton : null"><li> {{menu.label}} </li></a>
            </ul>
        </div>

        <!-- Responsive menu -->
        <side-menu [menus]="menus" logoType="{{logoTypeSecond}}" class="visible-xs visible-sm"></side-menu>
    </nav>
</header>
<a [ngClass]= "{'btn-right': isScrolled}" class="buttonTop color-gray color-gray-two-hover" pageScroll [pageScrollDuration]="300" href="#paar" title="Ve al inicio"><i class="mdi mdi-apple-keyboard-control mdi-24px"></i></a>