a:focus {
    outline: none;
    color: inherit; }
    
.blue_menu {
    background-color: rgb(81, 188, 190); }

.buttonTop {
    background-color: rgba(250,250,250,0.2);
    bottom: 4rem;
    border-radius: 4px 0rem 0rem 4px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 1rem;
    position: fixed;
    right: -5rem; 
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
    z-index: 5000;}

.btn-right {
    right: 0rem !important; }

.gray_menu {
    background-color: #565656; }

img {
    width: 15%; }

li {
    list-style: none; 
    display: inline-block; 
    margin-left: 2rem;
    margin-right: 2rem; 
    letter-spacing: 0.3rem; }

.logo-img {
    z-index: -1; }

.main-header {
    height: 10rem; }

nav {
    text-transform: uppercase;
    border: none; 
    height: 64px;
    left: 0;
    position: fixed;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;}

.nav_fixed {
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    top: -11rem; }
.nav_initial {
    background-color: transparent; 
    position: absolute;
    top: 0; 
    z-index: 1000;}
.nav_initial {
    right: 0; }
.nav-down {
    top:0rem; }

ul {
    margin-top: 3.5rem;
    margin-right: 4rem; }

.violet_menu {
    background-color: rgb(115, 55, 139); }

.white_menu {
    background-color: white; }

.gray_two_menu {
    background-color: #101010; }

@media (max-width: 768px) {
   .main-header {
        height: 8rem;; }
}