<main-header logoType="both" logoType="white" logoTypeSecond="original" backgroundColorMenu="white_menu" colorMenu="color-gray-two" colorHoverMenu="color-blue-hover" colorMenuB="color-white" colorHoverMenuB="color-blue-hover" textFont="font-three" sizeFont="18" colorButton="violet-button"></main-header>

<!--MAIN BANNER-->
<div class="position-relative">
  <div class="block-parallax gradient_black text-center" style="background-image: url(../assets/images/contact/01.jpg)">
    <div class="block-parallax-content">
      <div class="block-parallax-content-inner">
        <p class="col-xs-12 col-sm-12 color-white font-three font-size-2">
          <span class="font-cheese spacing font-size-4">¡Hagamos algo increible juntos! </span> 
          ¿Necesitas una asesoría contable?, ¿incremetar tus ventas?, ¿conseguir nuevos clientes?
          Cuéntanos en qué podemos ayudarte
        </p> 
      </div>
    </div>
  </div>
  <section class="banner-secondary background-color-white text-center">
    <div class="container padding-bottom-4 padding-top-4">
      <p class="font-three color-gray-two font-size-2 padding-bottom-1 padding-top-1">  </p>
    </div>
  </section>
</div>

<section class="block-contact font-three text-center margin-top-1 margin-bottom-4">
  <div class="container">
    <article class="col-xs-12 col-sm-4">
      <div class="container-article col-xs-12 col-sm-12 padding-top-5 padding-bottom-5">
        <i class="color-blue margin-right-1 mdi mdi-phone mdi-48px padding-bottom-1"></i>
        <h3 class="font-four spacing-2 margin-bottom-2">310 8337939</h3>
        <p class="col-xs-12">Llamanos dentro del horario de atención de 8:00AM hasta las 6:00PM</p> 
      </div>
    </article>
    <article class="col-xs-12 col-sm-4 padding-top-7-xs">
      <div class="container-article col-xs-12 col-sm-12 padding-top-5 padding-bottom-5">
        <i class="color-violet margin-right-1 mdi mdi-map-marker mdi-48px padding-bottom-1"></i>
        <h3 class="font-four spacing-2 margin-bottom-2">Calle 4B #35A-11 <br> El lab coworking</h3>
        <p class="col-xs-12">Ubícanos dentro del horario de atención de 8:00AM hasta las 6:00PM</p> 
      </div>
    </article>
    <article class="col-xs-12 col-sm-4 padding-top-7-xs">
      <div class="container-article col-xs-12 col-sm-12 padding-top-5 padding-bottom-5">
        <a class="color-blue color-blue-hover" href="https://www.facebook.com/grupopaarsas" target="_blank"><i class="margin-right-1 mdi mdi-facebook mdi-48px padding-bottom-1"></i></a>
        <a class="color-blue color-blue-hover" href="https://www.instagram.com/grupopaar" target="_blank"><i class="margin-right-1 mdi mdi-instagram mdi-48px padding-bottom-1"></i></a>
        <!--<a class="color-blue color-blue-hover" href=""><i class="margin-right-1 mdi mdi-linkedin mdi-48px padding-bottom-1"></i></a>-->
        <h3 class="font-four spacing-2 margin-bottom-2">@grupopaar</h3>
        <p class="col-xs-12">Síguenos en nuestras redes sociales</p> 
      </div>
    </article>
  </div>
</section>

<div>
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]=18 >
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>
</div>
