.container-article {
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); }

.fringe {
    width: 20%;
    height: 2px;
    background-color: rgb(0, 177, 174); }

.module_one {
  height: 300px;
}

.sebm-google-map-container {
  height: 300px; }

.banner-secondary {
    position: relative;
    z-index: 1;
    z-index: 3; }

.banner-secondary:before {
    top: 0;
    -webkit-transform: skewY(-2deg);
     transform: skewY(-2deg); 
     -webkit-transform-origin: 0 0; 
    transform-origin: 0 0; }

.banner-secondary:before {
    -webkit-backface-visibility: hidden;
    background: inherit;
    content: '';
    display: block;
    height: 102%;
    left: 0;
    outline: 1px solid transparent;
    position: absolute;
    right: 0;
    z-index: -1; }

.block-contact {
  background-color: white;
    position: relative;
    z-index: 3; }

.block-contact:after {
    top: 0;
    -webkit-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0; }

.block-contact:after {
    -webkit-backface-visibility: hidden;
    background: inherit;
    content: '';
    display: block;
    height: 130%;
    left: 0;
    outline: 1px solid transparent;
    position: absolute;
    right: 0;
    z-index: -1; }

@media (max-width: 768px) {
   .block-contact:after {
        height: 103%; }
}
