<main-header position="relative" logoType="both" logoType="original" logoTypeSecond="original" backgroundColorMenu="white_menu" colorMenu="color-gray-two" colorHoverMenu="color-blue-hover" colorMenuB="color-gray-two" colorHoverMenuB="color-blue-hover" textFont="font-three" sizeFont="18" colorButton="violet-button"></main-header>

<!--SERVICES MENU-->
<section class="container hidden-xs">
  <div class="services_container font-size-18 font-three text-uppercase services_menu">
    <div class="col-sm-3 text-center"> 
      <a class="color-gray-two color-violet-hover" pageScroll [pageScrollDuration]="300" routerLink="/servicios/consultoria-contable" routerLinkActive="color-violet-hover-active font-four">
        <i class="color-violet margin-right-1 mdi mdi-account mdi-48px padding-bottom-1"></i> <br> Consultoría Contable <br> y Financiera
      </a>
    </div>
    <div class="col-sm-3 text-center"> 
      <a class="color-gray-two color-violet-hover" pageScroll [pageScrollDuration]="300" routerLink="/servicios/sistemas-de-calidad" routerLinkActive="color-violet-hover-active font-four">
        <i class="color-violet margin-right-1 mdi mdi-account-circle mdi-48px padding-bottom-1"></i> <br> Sistemas de gestión de calidad y control
      </a> 
    </div>
    <div class="col-sm-3 text-center"> 
      <a class="color-gray-two color-violet-hover" pageScroll [pageScrollDuration]="300" routerLink="/servicios/desarrollo-web" routerLinkActive="color-violet-hover-active font-four">
        <i class="color-violet margin-right-1 mdi mdi-web mdi-48px padding-bottom-1"></i> <br> Desarrollo <br> Web
      </a> 
    </div>
    <div class="col-sm-3 text-center"> 
      <a class="color-gray-two color-violet-hover" pageScroll [pageScrollDuration]="300" routerLink="/servicios/marketing-digital" routerLinkActive="color-violet-hover-active font-four">
        <i class="color-violet margin-right-1 mdi mdi-laptop mdi-48px padding-bottom-1"></i> <br> Marketing <br> digital
      </a> 
    </div>
  </div>
</section>

<!--SERVICES ONE-->
<section *ngIf="showOne" id="one" class="block-service margin-top-5 color-gray-two font-three font-size-17">
  <div class="container padding-top-5 padding-bottom-5 padding-top-0-xs">
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" src="../assets/images/services/accounting.png" />
    </div>
    <div class="col-xs-12 col-md-6 padding-top-8 padding-top-0-xs">
      <h3 class="font-two text-uppercase spacing-2">Consultoría Contable y Financiera</h3>
      <ul>
        <li> - Finanzas para personas naturales </li> 
        <li> - Generación de informes financieros como medios magnéticos y reporte supersociedades </li> 
        <li> - Parametrización contable de SIIGO y de NIIF</li> 
        <li> - Asesoría contable y financiera para iniciar negocios en Colombia </li> 
        <li> - Consultoría en constitución de empresas </li> 
      </ul>
    </div>
  </div>
</section>

<!--SERVICES TWO-->
<section *ngIf="showTwo" id="two" class="block-service margin-top-5 color-gray-two font-three font-size-17">
  <div class="container padding-top-5 padding-bottom-5 padding-top-0-xs">
    <div class="col-xs-12 col-md-6">
      <h3 class="font-two text-uppercase spacing-2 padding-top-6 padding-top-0-xs"> Sistemas de gestión de calidad y control </h3>
        <ul>
          <li> Sistema de Gestión de Seguridad y Salud en el trabajo </li> 
          <li> Autoridades contables </li> 
          <li> Auditorías internas </li> 
        </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" src="../assets/images/services/QA.png" />
    </div>
  </div>
</section>

<!--SERIVICES THREE-->
<section *ngIf="showThree" id="three" class="block-service margin-top-5 color-gray-two font-three font-size-17">
  <div class="container padding-top-5 padding-bottom-5 padding-top-0-xs">
    <div class="col-xs-12 col-md-6">
      <h3 class="font-two text-uppercase spacing-2">Desarrollo web</h3>
      <p>Las web es un lugar donde el público desea encontrarte. Tener un espacio propio 
        en ella es la mejor tarjeta de presentación, la cara visible de la marca, la forma 
        de promocionar productos y servicios con un alcance mundial, es la ventaja competitiva 
        que da credibilidad  y facilita la conexión con tus clientes.</p> 
      <ul>
        <li> Hosting </li> 
        <li> Dominios </li> 
      </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" src="../assets/images/services/web.png" />
    </div>
  </div>
</section>

<!--SERVICES FOUR-->
<section *ngIf="showFour" id="four" class="block-service margin-top-5 color-gray-two font-three font-size-17">
  <div class="container padding-top-5  padding-bottom-5 padding-top-0-xs">
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" src="../assets/images/services/marketing.png" />
    </div>
    <div class="col-xs-12 col-md-6">
      <h3 class="font-two text-uppercase spacing-2"> Marketing digital </h3>
      <p>En los últimos años se han desarrollado cientos de redes sociales que permiten la interacción 
        entre personas. Las redes sociales han cambiado por completo la forma de hacer mercadeo y estar 
        activo en ellas es la mejor manera de conectar con el público y dar a conocer productos, servicios,
       un proyecto profesional o simplemente una idea.    </p> 
      <ul>
        <li> SEM / SEO  </li> 
        <li> Email marketing </li> 
        <li> Publicidad Online </li> 
      </ul>
    </div>
  </div>
</section>

<be-in-touch></be-in-touch>