a {
    text-decoration: none; }
    
ul {
    list-style: none; }

.services_menu {
    letter-spacing: 2px; }

.submenu li {
    display: inline-block; }

.block-service {
  background-color: white;
    position: relative;
    z-index: 3; }

.block-service:before {
    top: 0;
    -webkit-transform: skewY(2deg);
    transform: skewY(2deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0; }

.block-service:before {
    -webkit-backface-visibility: hidden;
    background: inherit;
    content: '';
    display: block;
    height: 115%;
    left: 0;
    outline: 1px solid transparent;
    position: absolute;
    right: 0;
    z-index: -1; }

@media (max-width: 768px) {
   .block-service:before {
        height: 103%; }
}
