<main-header logoType="both" backgroundColorMenu="gray_two_menu" colorMenu="color-white" colorHoverMenu="color-blue-hover" textFont="font-two" sizeFont="18" colorButton="white-button"></main-header>

<!--MAIN BANNER-->
<div ng2-parallax class="block-parallax margin-top-10 text-center">
  <p class="col-xs-12 col-sm-6 col-sm-offset-3 margin-top-10 color-gray-two font-three"> En <span class="font-two text-uppercase spacing"> grupo PAAR </span> buscamos trascender y queremos hacerlo junto a ti </p>
  <img src="../assets/images/home/01.jpg" />
</div>
<section class="background-color-blue text-center">
  <div class="container">
    <p class="font-three color-white font-size-2 padding-bottom-1 padding-top-1"> Permítenos asesorarte y ayudar a fortalecer tu empresa </p> 
  </div>
</section>

<be-in-touch></be-in-touch>