/* You can add global styles to this file, and also import other style files */

a {
    text-decoration: none; }

a:hover {
    opacity: 0.9; }

.background-size-100 {
    background-size: 100%;
}

body {
    color: #343434;
    font-family: 'opensanslight';
    font-weight: 300;
}
.block-info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
.block-info {
    background-color: rgba(16,16,16,0.5);
    height: 400px; }
.block-info-h2 {
    position: absolute;
    bottom: 4rem;
    left: 5rem;
    z-index: 5; }
.block-info p {
    margin-top: 5rem;
    padding: 6rem; }
.block-info-bigger {
    height: 700px !important;
}

@media (max-width: 768px) {
   .block-info {
        height: 350px; }
    .block-info h2 {
        font-size: 1.8rem !important; }
    .block-info p {
        font-size: 1.8rem !important;  }
    .block-info img {
        width: 1300px;
    }
}

.block-tips {
    background-size: 100%;
    background-position: center; }
.block-tips p {
    border: 3px solid white; 
    padding: 4rem; }

@media (max-width: 991px) {
   .block-tips {
        background-size: 150%; }
}

.gradient_transparent::after {
    background-color: rgba(16,16,16,0.4);
}

.gradient_black2::after {
    background: rgba(16,16,16,0.83);
    background: -moz-linear-gradient(top, rgba(16,16,16,0.83) 0%, rgba(16,16,16,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(16,16,16,0.83)), color-stop(100%, rgba(16,16,16,1)));
    background: -webkit-linear-gradient(top, rgba(16,16,16,0.83) 0%, rgba(16,16,16,1) 100%);
    background: -o-linear-gradient(top, rgba(16,16,16,0.83) 0%, rgba(16,16,16,1) 100%);
    background: -ms-linear-gradient(top, rgba(16,16,16,0.83) 0%, rgba(16,16,16,1) 100%);
    background: linear-gradient(to bottom, rgba(16,16,16,0.83) 0%, rgba(16,16,16,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#101010', GradientType=0 );
}

.gradient_black::after {
    background: rgba(16,16,16,0.61);
    background: -moz-linear-gradient(top, rgba(16,16,16,0.61) 0%, rgba(16,16,16,0.84) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(16,16,16,0.61)), color-stop(100%, rgba(16,16,16,0.84)));
    background: -webkit-linear-gradient(top, rgba(16,16,16,0.61) 0%, rgba(16,16,16,0.84) 100%);
    background: -o-linear-gradient(top, rgba(16,16,16,0.61) 0%, rgba(16,16,16,0.84) 100%);
    background: -ms-linear-gradient(top, rgba(16,16,16,0.61) 0%, rgba(16,16,16,0.84) 100%);
    background: linear-gradient(to bottom, rgba(16,16,16,0.61) 0%, rgba(16,16,16,0.84) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#101010', GradientType=0 ); }

.block-parallax {
    height: 400px;
    background-size: cover;
    background-position: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.gradient_primary::after {
    background: rgba(0,177,174,0.8);
    background: -moz-linear-gradient(top, rgba(0,177,174,0.8) 0%, rgba(53,121,158,0.8) 46%, rgba(115,55,139,0.75) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,177,174,0.8)), color-stop(46%, rgba(53,121,158,0.8)), color-stop(100%, rgba(115,55,139,0.75)));
    background: -webkit-linear-gradient(top, rgba(0,177,174,0.8) 0%, rgba(53,121,158,0.8) 46%, rgba(115,55,139,0.75) 100%);
    background: -o-linear-gradient(top, rgba(0,177,174,0.8) 0%, rgba(53,121,158,0.8) 46%, rgba(115,55,139,0.75) 100%);
    background: -ms-linear-gradient(top, rgba(0,177,174,0.8) 0%, rgba(53,121,158,0.8) 46%, rgba(115,55,139,0.75) 100%);
    background: linear-gradient(to bottom, rgba(0,177,174,0.8) 0%, rgba(53,121,158,0.8) 46%, rgba(115,55,139,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b1ae', endColorstr='#73378b', GradientType=0 ); }

.block-parallax::after {
    content: ' ';
    height: 100%;
    left: 0;
    opacity: 0.95;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }

.block-parallax-content {
    padding-top: 0;
    z-index: 4;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem; }

.block-parallax-content-inner{
    float: left;
    display: block;
    margin-right: 4%;
    margin-left: 4%;
    width: 90%;
    padding-right: 2rem; }

.block-parallax span {
    line-height: 1rem; }

@media (max-width: 768px) {
   .block-parallax {
        height: 350px; }
    .block-parallax h2 {
        right: 1rem; 
        font-size: 1.8rem !important; }
    .block-parallax span {
        font-size: 2rem !important;
        bottom: 0rem; }
    .block-parallax p {
        font-size: 1.8rem; 
        padding: 2rem; }
    }

.display-none {
    display: none; }

.display-table {
    display: table; }

.display-inline-table {
    display: inline-table; }

.overflow-hidden {
    overflow: hidden; }

.position-absolute {
    position: absolute; }

.position-relative {
    position: relative !important; }

.spacing {
    letter-spacing: 0.7rem; }

.spacing-2 {
    letter-spacing: 2px; }

input:focus,
textarea:focus {
    outline: none !important;
    border:none; }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   rgba(52, 52, 52, 0.5); }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(52, 52, 52, 0.5); }
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgba(52, 52, 52, 0.5); }
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgba(52, 52, 52, 0.5); }

.vertical-col-align {
    display: inline-block;
    vertical-align: middle; }

.show-item {
    opacity: 1;
    transition: all 500ms ease;
}

.hide-item {
    opacity: 0;
    transition: all 0.1s ease;
}

.text-div {
    position: absolute;
    top: 45%;
    width: 100%;
    z-index: 7; }

.tips-height {
    height: 600px !important; }
@media (max-width: 768px) {
   .tips-height {
    height: 400px !important; }
}

.transparent-div {
    background-color: #343434;
    height: 100%;
    opacity: 0.5;
    width: 100%; }

/* Buttons */
.blue-button {
    background-color: rgb(8, 177, 174);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: white !important;
    display: inline-block;
    margin-bottom: 0;
    font-family: 'opensanssemi';
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: background-color, fill, color;
    transition-property: background-color, fill, color; }

.violet-button {
    background-color: rgb(115, 55, 139);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: white !important;
    display: inline-block;
    margin-bottom: 0;
    font-family: 'opensanssemi';
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: background-color, fill, color;
    transition-property: background-color, fill, color; }

.white-button {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: white !important;
    display: inline-block;
    margin-bottom: 0;
    font-family: 'opensanssemi';
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: background-color, fill, color;
    transition-property: background-color, fill, color; }

.blue-button:hover, .violet-button:hover {
    color: white !important;
    opacity: 0.9; }

/* Colors */
a.color-blue-hover:hover,
a.color-blue-hover:focus,
a.color-blue-hover:active {
    color: rgb(0, 177, 174); }
.background-color-blue {
    background-color: rgb(0, 177, 174); }
.color-blue {
    color: rgb(0, 177, 174); }
.color-blue-border {
    border-color: rgb(0, 177, 174); }
.color-blue-hover-active {
    color: rgb(0, 177, 174) !important;
}

a.color-blue-two-hover:hover,
a.color-blue-two-hover:focus,
a.color-blue-two-hover:active {
    color: rgb(81, 188, 190); }
.background-color-blue-two {
    background-color: rgb(81, 188, 190); }
.color-blue-two {
    color: rgb(81, 188, 190); }
.color-blue-two-hover-active {
    color: rgb(81, 188, 190) !important; }

a.color-blue-three-hover:hover,
a.color-blue-three-hover:focus,
a.color-blue-three-hover:active {
    color: rgb(115, 199, 214); }
.background-color-blue-three {
    background-color: rgb(115, 199, 214); }
.color-blue-three {
    color: rgb(115, 199, 214); }
.color-blue-three-hover-active {
    color: rgb(115, 199, 214) !important; }

a.color-violet-hover:hover,
a.color-violet-hover:focus,
a.color-violet-hover:active {
    color: rgb(115, 55, 139); }
.background-color-violet {
    background-color: rgb(115, 55, 139); }
.color-violet {
    color: rgb(115, 55, 139); }
.color-violet-border {
    color: rgb(115, 55, 139); }
.color-violet-hover-active {
    color: rgb(115, 55, 139) !important; }

a.color-violet-two-hover:hover,
a.color-violet-two-hover:focus,
a.color-violet-two-hover:active {
    color: rgb(127, 72, 151); }
.background-color-violet-two {
    background-color: rgb(127, 72, 151); }
.color-violet-two {
    color: rgb(127, 72, 151); }
.color-violet-two-hover-active {
    color: rgb(127, 72, 151) !important; }

a.color-violet-three-hover:hover,
a.color-violet-three-hover:focus,
a.color-violet-three-hover:active {
    color: rgb(147, 95, 163); }
.background-color-violet-three {
    background-color: rgb(147, 95, 163); }
.color-violet-three {
    color: rgb(147, 95, 163); }
.color-violet-three-hover-active {
    color: rgb(147, 95, 163) !important; }

a.color-white-hover:hover,
a.color-white-hover:focus,
a.color-white-hover:active {
    color: white; }
.background-color-white {
    background-color: white; }
.color-white {
    color: white; }
.color-white-hover-active {
    color: white !important; }

a.color-gray-hover:hover,
a.color-gray-hover:focus,
a.color-gray-hover:active {
    color: #949494; }
.background-color-gray {
    background-color: #949494; }
.color-gray {
    color: #949494; }
.color-gray-hover-active {
    color: #949494 !important; }

a.color-gray-two-hover:hover {
    color: #101010; }
.background-color-gray-two {
    background-color: #101010; }
.color-gray-two {
    color: #101010; }
.color-gray-two-hover-active {
    color: #101010 !important; }

a.color-gray-three-hover:hover {
    color: #f8f8f9; }
.background-color-gray-three {
    background-color: #f8f8f9; }
.color-gray-three {
    color: #f8f8f9; }
.color-gray-three-hover-active {
    color: #f8f8f9 !important; }

a.color-gray-four-hover:hover {
    color: #f1f1f1; }
.background-color-gray-four {
    background-color: #f1f1f1; }
.color-gray-four {
    color: #f1f1f1; }
.color-gray-four-hover-active {
    color: #f1f1f1 !important; }

.white-transparent {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Fonts */
@font-face {
    font-family: 'champagne_limousinesregular';
    src: url('./assets/fonts/champagne__limousines-webfont.woff2') format('woff2'),
         url('./assets/fonts/champagne__limousines-webfont.woff') format('woff'); }
@font-face {
    font-family: 'champagne_limousinesbold';
    src: url('./assets/fonts/champagne__limousines_bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/champagne__limousines_bold-webfont.woff') format('woff'); }
@font-face {
    font-family: 'cheesepizza';
    src: url('./assets/fonts/cheesepizza/cheesepizza-webfont.woff2') format('woff2'),
         url('./assets/fonts/cheesepizza/cheesepizza-webfont.woff') format('woff'); }
@font-face {
    font-family: 'opensanslight';
    src: url('./assets/fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
         url('./assets/fonts/opensans/opensans-light-webfont.woff') format('woff'); }
@font-face {
    font-family: 'opensansregular';
    src: url('./assets/fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/opensans/opensans-regular-webfont.woff') format('woff'); }
@font-face {
    font-family: 'opensanssemi';
    src: url('./assets/fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
         url('./assets/fonts/opensans/opensans-semibold-webfont.woff') format('woff'); }
@font-face {
    font-family: 'coolvetica';
    src: url('./assets/fonts/coolvetica/coolvetica_rg.woff') format('woff'); }

.font-one {
    font-family: 'champagne_limousinesregular'; }
.font-two {
    font-family: 'champagne_limousinesbold'; }
.font-three {
    font-family: 'opensanslight';
    font-weight: 300; }
.font-four {
    font-family: 'opensanssemi';
    font-weight: 700; }
.font-cheese {
    font-family: 'cheesepizza'; }
.font-coolvetica {
    font-family: 'coolvetica'; }

/*Float*/
.float-right {
    float: right; }  
.float-left {
    float: left; } 

/* Font size */
.font-size-1 {
    font-size: 1rem; }
.font-size-11 {
    font-size: 1.1rem; }
.font-size-12 {
    font-size: 1.2rem; }
.font-size-13 {
    font-size: 1.3rem; }
.font-size-14 {
    font-size: 1.4rem; }
.font-size-15 {
    font-size: 1.5rem; }
.font-size-16 {
    font-size: 1.6rem; }
.font-size-17 {
    font-size: 1.7rem; }
.font-size-18 {
    font-size: 1.8rem; }
.font-size-19 {
    font-size: 1.9rem; }
.font-size-2 {
    font-size: 2rem; }
.font-size-3 {
    font-size: 3rem; }
.font-size-4 {
    font-size: 4rem; }
.font-size-5 {
    font-size: 5rem; }
.font-size-6 {
    font-size: 6rem; }
.font-size-7 {
    font-size: 7rem; }
.font-size-8 {
    font-size: 8rem; }
.font-size-9 {
    font-size: 9rem; }

/*Margins left*/
.margin-left-1 {
    margin-left: 1rem; }
.margin-left-2 {
    margin-left: 2rem; }
.margin-left-3 {
    margin-left: 3rem; }
.margin-left-4 {
    margin-left: 4rem; }
.margin-left-5 {
    margin-left: 5rem; }
.margin-left-6 {
    margin-left: 6rem; }
.margin-left-7 {
    margin-left: 7rem; }
.margin-left-8 {
    margin-left: 8rem; }
.margin-left-9 {
    margin-left: 9rem; }
.margin-left-10 {
    margin-left: 10rem; }

/*Margins right*/
.margin-right-1 {
    margin-right: 1rem; }
.margin-right-2 {
    margin-right: 2rem; }
.margin-right-3 {
    margin-right: 3rem; }
.margin-right-4 {
    margin-right: 4rem; }
.margin-right-5 {
    margin-right: 5rem; }
.margin-right-6 {
    margin-right: 6rem; }
.margin-right-7 {
    margin-right: 7rem; }
.margin-right-8 {
    margin-right: 8rem; }
.margin-right-9 {
    margin-right: 9rem; }
.margin-right-10 {
    margin-right: 10rem; }

/*Margins top*/
.margin-top-1 {
    margin-top: 1rem; }
.margin-top-15 {
    margin-top: 1.5rem; }
.margin-top-2 {
    margin-top: 2rem; }
.margin-top-3 {
    margin-top: 3rem; }
.margin-top-4 {
    margin-top: 4rem; }
.margin-top-5 {
    margin-top: 5rem; }
.margin-top-6 {
    margin-top: 6rem; }
.margin-top-7 {
    margin-top: 7rem; }
.margin-top-8 {
    margin-top: 8rem; }
.margin-top-9 {
    margin-top: 9rem; }
.margin-top-10 {
    margin-top: 10rem; }

/*Margins bottom*/
.margin-bottom-1 {
    margin-bottom: 1rem; }
.margin-bottom-2 {
    margin-bottom: 2rem; }
.margin-bottom-3 {
    margin-bottom: 3rem; }
.margin-bottom-4 {
    margin-bottom: 4rem; }
.margin-bottom-5 {
    margin-bottom: 5rem; }
.margin-bottom-6 {
    margin-bottom: 6rem; }
.margin-bottom-7 {
    margin-bottom: 7rem; }
.margin-bottom-8 {
    margin-bottom: 8rem; }
.margin-bottom-9 {
    margin-bottom: 9rem; }
.margin-bottom-10 {
    margin-bottom: 10rem; }

/*paddings left*/
.padding-left-1 {
    padding-left: 1rem; }
.padding-left-2 {
    padding-left: 2rem; }
.padding-left-3 {
    padding-left: 3rem; }
.padding-left-4 {
    padding-left: 4rem; }
.padding-left-5 {
    padding-left: 5rem; }
.padding-left-6 {
    padding-left: 6rem; } 
.padding-left-7 {
    padding-left: 7rem; }
.padding-left-8 {
    padding-left: 8rem; } 
.padding-left-9 {
    padding-left: 9rem; }
.padding-left-10 {
    padding-left: 10rem; }

/*paddings right*/
.padding-right-1 {
    padding-right: 1rem; }
.padding-right-2 {
    padding-right: 2rem; }
.padding-right-3 {
    padding-right: 3rem; }
.padding-right-4 {
    padding-right: 4rem; }
.padding-right-5 {
    padding-right: 5rem; }
.padding-right-6 {
    padding-right: 6rem; }
.padding-right-7 {
    padding-right: 7rem; }
.padding-right-8 {
    padding-right: 8rem;  }
.padding-right-9 {
    padding-right: 9rem; }
.padding-right-10 {
    padding-right: 10rem; }

/*paddings top*/
.padding-top-1 {
    padding-top: 1rem; }
.padding-top-2 {
    padding-top: 2rem; }
.padding-top-3 {
    padding-top: 3rem; }
.padding-top-4 {
    padding-top: 4rem; }
.padding-top-5 {
    padding-top: 5rem; }
.padding-top-6 {
    padding-top: 6rem; }
.padding-top-7 { 
    padding-top: 7rem; }
.padding-top-8 {
    padding-top: 8rem; }
.padding-top-9 {
    padding-top: 9rem; }
.padding-top-10 {
    padding-top: 10rem; }
.padding-top-15 {
    padding-top: 15rem; }
@media (max-width: 768px) {
   .padding-top-0-xs {
    padding-top: 0rem !important; }
    .padding-top-7-xs {
    padding-top: 7rem !important; }
}

/*paddings bottom*/
.padding-bottom-1 {
    padding-bottom: 1rem; }
.padding-bottom-2 {
    padding-bottom: 2rem; }
.padding-bottom-3 {
    padding-bottom: 3rem; }
.padding-bottom-4 {
    padding-bottom: 4rem; }
.padding-bottom-5 {
    padding-bottom: 5rem; }
.padding-bottom-6 {
    padding-bottom: 6rem; }
.padding-bottom-7 {
    padding-bottom: 7rem; }
.padding-bottom-8 {
    padding-bottom: 8rem; }
.padding-bottom-9 {
    padding-bottom: 9rem; }
.padding-bottom-10 {
    padding-bottom: 10rem; }
.padding-bottom-15 {
    padding-bottom: 15rem; }

/* Icons */
.material-icon {
    width: 70px;
    height: 70px;
    position: relative; }
.material-icon span,
.material-icon {
    transition: all 500ms ease; }
.material-icon span {
    display: block;
    position: absolute;
    top: 0;
    left: 21px;
    width: 45%; }

/* Hamburger icon */
.hamburger span {
    height: 10px;
    -webkit-transform: translateY(29px); }
.hamburger .second {
    -webkit-transform: translateY(0); }
.hamburger .third{
    -webkit-transform: translateY(60px); }
.hamburger span, .arrow span {
    height: 4px;
    -webkit-transform: translateY(29px); }

/* Arrow icon */
.arrow {
    -webkit-transform: rotate(180deg) translateX(-3px);
}
.arrow .second,
.arrow .third {
    -webkit-transform: rotate(45deg) translateY(27px) translateX(23px);
    width: 20px; }
.arrow .second {
    -webkit-transform: rotate(-45deg) translateY(14px) translateX(-18px); }

/* Plus icon */
.plus-one .first, .plus-two .first,
.plus-one .second, .plus-two .second,
.plus-one .third, .plus-two .third {
    width: 30px;
    height: 4px;
    -webkit-transform: translateY(32px); }
.plus-one .second,
.plus-two .first {
    -webkit-transform: translateY(32px) rotate(90deg); }
.plus-two .second {
    -webkit-transform: translateY(32px) rotate(180deg); }
