<main-header logoType="both" backgroundColorMenu="white_menu" colorMenu="color-gray" colorHoverMenu="color-blue-hover" textFont="font-two" sizeFont="18" colorButton="violet-button"></main-header>

<!--MAIN BANNER-->
<div ng2-parallax class="block-parallax">
  <div class="text-div text-center display-table">
    <h1 class="font-size-6 font-three color-white text-uppercase spacing">
    <span class="font-two">Equipo</span>
    </h1>
  </div>
  <div class="transparent-div"></div>
  <img src="../assets/images/services/01.jpg" />
</div>

<be-in-touch></be-in-touch>